html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    font-family: 'Lato', sans-serif;
    background-color: #f2f2f2;
}

.body__container {
    padding: 1px 5px;
    max-width: 500px;
    margin: 25px auto;
    background-color: #fff;
    box-shadow: 0 0 32px 0 rgb(0 0 0 / 10%);
}